<%= form_with(model: user_coupon, local: true) do |form| %>
  <% if user_coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_coupon.errors.count, "error") %> prohibited this user_coupon from being saved:</h2>

      <ul>
      <% user_coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.number_field :discount %>
  </div>

  <div class="field">
    <%= form.label :unique %>
    <%= form.check_box :unique %>
  </div>

  <div class="field">
    <%= form.label :mount_discount %>
    <%= form.number_field :mount_discount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
