<p id="notice"><%= notice %></p>

<h1>User Coupons</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Discount</th>
      <th>Unique</th>
      <th>Mount discount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_coupons.each do |user_coupon| %>
      <tr>
        <td><%= user_coupon.user %></td>
        <td><%= user_coupon.name %></td>
        <td><%= user_coupon.discount %></td>
        <td><%= user_coupon.unique %></td>
        <td><%= user_coupon.mount_discount %></td>
        <td><%= link_to 'Show', user_coupon %></td>
        <td><%= link_to 'Edit', edit_user_coupon_path(user_coupon) %></td>
        <td><%= link_to 'Destroy', user_coupon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Coupon', new_user_coupon_path %>
